body {
	margin: 0;
	padding: 0;
	


}


.container-body {
	clear:both;
	width: 100%;
	min-width: 1273px;
	height: auto;
	overflow: auto;
	background-image: url("assets/images/concrete-texture.png");
	position: relative;
	top: -67px;
}

header {

	background-color: white;
	padding: 10px;
	font-family: Georgia, Times, Times New Roman, serif;
	font-size: 36px;
	width: 100%;

}
ul {
	width: 40%;
	list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: none;
    background-color: none;
    float: right;
    position: relative;
    bottom: 60px;
    font-size: 18px;
    color: #999999;


}

li {
    float: left;
    padding: 10px;

}

li a {
    
    color: #999999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#list-break-color {
	color: #eeeeee;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #111;
}

h1 {
	font-size: 30px;
	padding: 10px;
}

h3 {
	font-size: 20px;
}

#name-tab {
	text-align: center;
	background-color: #4aaaa5;
	padding: 20px;
	width: 200px;
	overflow: auto;
	margin-bottom: -10px;
	margin-left: 5%;
	color: white;
}

#title-color {
	color: #4aaaa5;
	margin-bottom: 20px;
	font-family: Georgia, Times, Times New Roman, serif;
	z-index: 1;

}


#header-pad {
	background-color: #cccccc;
	padding: 1px;
	position: relative;
	top: 10px;
	z-index: 0;
	
}

section {
	background-color: white;
	width: 960px;
	padding: 20px;
	margin-top: 20px;

	
}

#content {
	
	width: 650px;
	overflow: auto;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
	float: left;
	background-color: #ffffff



}

#content-pad {
	background-color: #dddddd;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1.5px;
	
}

p {
	float: auto;
	width: 90%;
	padding: 20px;
	font-size: 20px;
	color: #777777;
	margin-top: 10px;
	line-height: 30px;

}

#connect {
	
	width: 270px;
	text-align: center;
	margin: 2%;
	float: left;
	overflow: auto;
	
}

#connect-pad {
	background-color: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1.5px;
	margin-bottom: 20px;
	
}

.container-img {
	width: 35%;
	height: auto;
	float: left;
	padding: 20px;
	position: relative;
	top: 18px;

}

#connect-img {
	
	max-width: 27%;
	height: auto;
	padding: 5px;

}

#connect-img-2 {
	width: 85px;
	height: 85px;

}

.container-footer-pad {
	background-color: #4aaaa5;
	clear: both;
	padding: 4px;
	position: relative;
	top: -67px;
	width: 100%

}

footer {
	clear: both;
	background-color: #666666;
	text-align: center;
	padding: 30px;
	color: #bbbbbb;
	width: 100%;
	min-width: 1210px;
	position: relative;
	top: -67px;
}

h6 {
	font-size: 12px;
}
